<table>
  <tr>
    <th>Creature</th>
    <th>Name</th>
    <th>State</th>
    <th>Sport</th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.creature %></td>
      <td><%= team.name %></td>
      <td><%= team.state %></td>
      <td><%= team.@team = Unirest.post("#{ENV['DOMAIN']}/teams.json", :headers => {"Accept" => "application/json"}, :parameters => {:creature => params[:creature], :name => params[:name], :state => params[:state], :sport => params[:sport]}).body sport %></td> 
    </tr>
  <% end %>
</table>


  
