<table>
  <tr>
    <th>Creature</th>
    <th>Name</th>
    <th>State</th>
    <th>Sport</th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.creature %></td>
      <td><%= team.name %></td>
      <td><%= team.state %></td>
      <td><%= team.sport %></td> 
    </tr>
  <% end %>
</table>


  
