<%= form_tag "/teams", method: :post do %>

  <div>
    Creature: <input type="text" name="creature">
  </div>
  <br>
  <div>
    Name: <input type="text" name="name">
  </div>
  <br>
  <div>
    State: <input type="text" name="state">
  </div>
  <br>
  <div>
    Sport: <input type="text" name="sport">
  </div>
  <br>
  <input type="submit" value="add a team">
<% end %>